/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
    @media (min-width:$min-width){
      max-width: 1400px;
      display: block;
      @include auto-margin;
    }
  }
  
  .row {
    @include flex($dis:flex,$dir:column);
    padding: 1em 10px;
    @media (min-width:$min-width){
      @include flex($dis:flex,$dir:row);
    }
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @media (min-width:$min-width){
      @include flex($dis:flex,$just:center);
      margin-top: 0;
      align-items: center;
      & + & {
        margin-left: 10px;
      }      
    }
  }
  
  .theme.col{
      &-1 {
        background-color: #927bc1;
      }
        &-2 {
        background-color: #fd7856;
      }
        &-3 {
        background-color: #deb2ee;
      }
        &-4 {
        background-color: #7ee6fd;
      }
        &-5 {
        background-color: #88d9a0;
      }
        &-6 {
        background-color: #4da2bb;
      }
        &-7 {
        background-color: #ec9fa3;
      }
        &-8 {
        background-color: #fd9f85;
      }
        &-9 {
        background-color: #e4757a;
      }
        &-10 {
        background-color: #63cc82;
      }
        &-11 {
        background-color: #51ddfc;
      }
      &-12 {
        background-color: #80e8d1;
  }
}

.col{
  @media (min-width:$min-width) {
    &-1 {
      flex-basis: 8.33%;
    }
    
    &-2 {
      flex-basis: 16.67%;
    }
    
    &-3 {
      flex-basis: 25.00%;
    }
    
    &-4 {
      flex-basis: 33.33%;
    }
    
    &-5 {
      flex-basis: 41.67%;
    }
    
    &-6 {
      flex-basis: 50.00%;
    }
    
    &-7 {
      flex-basis: 58.33%;
      @media (min-width:$min-width) {
        display: block;
        @include auto-margin;
        }
    }
    
    &-8 {
      flex-basis: 66.67%;
    }
    
    &-9 {
      flex-basis: 75.00%
    }
    
    &-10 {
      flex-basis: 83.33%;
    }
    
    &-11 {
      flex-basis: 91.67%;
    }
    
    &-12 {
      flex-basis: 100%;
    }
  }

}
  
  .card {
    @include flex($basis:100%);
  }